
.navbar{
    /* background-color: rgb(108, 108, 158); */
    background-color: var(--main-color);
    
    font-size: 1.3em;
}
.navbar-light .navbar-nav .nav-link{
    color: whitesmoke !important; 
}
.nav-btn{
    background-color: var(--main-color-btn-navbar);
    border: 1px solid var(--main-color-btn-navbar-border);
    
}
.nav-btn:hover{
    background-color: var(--main-color-btn-navbar-hover);
    border: 1px solid var(--main-color-btn-navbar-border);
    
}
.username{
    font-size: 0.9em;
}